<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-commande-heading">Create or edit a Commande</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_dateCommande">Date Commande</label>
                    <div class="d-flex">
                        <input id="field_dateCommande" type="datetime-local" class="form-control" name="dateCommande" formControlName="dateCommande" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_factureAchat">Facture Achat</label>
                    <select class="form-control" id="field_factureAchat" name="factureAchat" formControlName="factureAchatId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="factureAchatOption.id" *ngFor="let factureAchatOption of factureachats; trackBy: trackById">{{ factureAchatOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_fournisseur">Fournisseur</label>
                    <select class="form-control" id="field_fournisseur" name="fournisseur" formControlName="fournisseurId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="fournisseurOption.id" *ngFor="let fournisseurOption of fournisseurs; trackBy: trackById">{{ fournisseurOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
