<div>
    <h2 id="page-heading">
        <span>Detais Commandes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-detais-commande" [routerLink]="['/detais-commande/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Detais Commande
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="detaisCommandes?.length === 0">
        <span>No detaisCommandes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="detaisCommandes && detaisCommandes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="qteProduit"><span>Qte Produit</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="prix"><span>Prix</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="produitId"><span>Produit</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="commandeId"><span>Commande</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let detaisCommande of detaisCommandes ;trackBy: trackId">
                    <td><a [routerLink]="['/detais-commande', detaisCommande.id, 'view']">{{ detaisCommande.id }}</a></td>
                    <td>{{ detaisCommande.qteProduit }}</td>
                    <td>{{ detaisCommande.prix }}</td>
                    <td>
                        <div *ngIf="detaisCommande.produitId">
                            <a [routerLink]="['/produit', detaisCommande.produitId , 'view']" >{{ detaisCommande.produitId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="detaisCommande.commandeId">
                            <a [routerLink]="['/commande', detaisCommande.commandeId , 'view']" >{{ detaisCommande.commandeId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/detais-commande', detaisCommande.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/detais-commande', detaisCommande.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(detaisCommande)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="detaisCommandes && detaisCommandes.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
