<div>
    <h2 id="page-heading">
        <span>Mouvements</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-mouvement" [routerLink]="['/mouvement/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Mouvement
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="mouvements?.length === 0">
        <span>No mouvements found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="mouvements && mouvements.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateMvt"><span>Date Mvt</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="typeMvt"><span>Type Mvt</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="qteMvt"><span>Qte Mvt</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ancienQte"><span>Ancien Qte</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nvQte"><span>Nv Qte</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ancienPrix"><span>Ancien Prix</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nvPrix"><span>Nv Prix</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="prix"><span>Prix</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="produitId"><span>Produit</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let mouvement of mouvements ;trackBy: trackId">
                    <td><a [routerLink]="['/mouvement', mouvement.id, 'view']">{{ mouvement.id }}</a></td>
                    <td>{{ mouvement.dateMvt | date:'medium' }}</td>
                    <td>{{ mouvement.typeMvt }}</td>
                    <td>{{ mouvement.qteMvt }}</td>
                    <td>{{ mouvement.ancienQte }}</td>
                    <td>{{ mouvement.nvQte }}</td>
                    <td>{{ mouvement.ancienPrix }}</td>
                    <td>{{ mouvement.nvPrix }}</td>
                    <td>{{ mouvement.prix }}</td>
                    <td>
                        <div *ngIf="mouvement.produitId">
                            <a [routerLink]="['/produit', mouvement.produitId , 'view']" >{{ mouvement.produitId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/mouvement', mouvement.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/mouvement', mouvement.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(mouvement)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="mouvements && mouvements.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
