<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="taxe">
            <h2><span>Taxe</span> {{ taxe.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Nom Taxe</span></dt>
                <dd>
                    <span>{{ taxe.nomTaxe }}</span>
                </dd>
                <dt><span>Taux</span></dt>
                <dd>
                    <span>{{ taxe.taux }}</span>
                </dd>
                <dt><span>Type Taxe</span></dt>
                <dd>
                    <span>{{ taxe.typeTaxe }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/taxe', taxe.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
