<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-taxe-heading">Create or edit a Taxe</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_nomTaxe">Nom Taxe</label>
                    <input type="text" class="form-control" name="nomTaxe" id="field_nomTaxe"
                           formControlName="nomTaxe"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_taux">Taux</label>
                    <input type="number" class="form-control" name="taux" id="field_taux"
                           formControlName="taux"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_typeTaxe">Type Taxe</label>
                    <select class="form-control" name="typeTaxe" formControlName="typeTaxe" id="field_typeTaxe">
                        <option value="POURCENTAGE">POURCENTAGE</option>
                        <option value="PRIX_FIXE">PRIX_FIXE</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
